/* Styles de base pour le site */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    text-align: center;
    background-color: #fff;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style pour le logo UniLaSalle */
.logo {
    width: 200px;
    height: auto;
}

/* Style pour le titre principal */
h1 {
    color: #e63946;
    font-size: 36px;
    margin-bottom: 20px;
}

/* Style pour le menu de navigation */
.nav {
    display: flex;
    justify-content: center;
    gap: 15px;
}

/* Style des boutons de navigation */
.nav-button {
    color: #fff;
    background-color: #e63946;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.nav-button:hover {
    background-color: #d62839;
}

/* Style pour la section principale */
.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    text-align: center; /* Centre tout le contenu à l'intérieur */
}

/* Style pour les images */
.machine-image {
    max-width: 100%; /* Image responsive */
    height: auto;
    display: block;
    margin: 0 auto 20px auto; /* Centre l'image horizontalement et ajoute un espace en bas */
}

/* Styles pour les boutons */
.button {
    display: inline-block;
    padding: 15px 30px;
    margin: 10px 20; /* Espace vertical de 10 pixels entre les boutons */
    background-color: #f44336; /* Rouge */
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    font-size: 18px;
    width: 200px;
    transition: background-color 0.3s; /* Effet de transition */
}

.button:hover {
    background-color: #d62839; /* Couleur au survol */
}

.large-button {
    display: block;
    width: 100%;
    max-width: 800px; /* Largeur maximale ajustable */
    padding: 20px 0;
    margin: 20px auto;
    font-size: 24px; /* Texte plus grand */
    text-align: center;
    background-color: #f44336;
    color: white;
    border-radius: 25px;
    text-decoration: none;
    transition: background-color 0.3s; /* Effet de transition */
}

.large-button:hover {
    background-color: #d62839; /* Couleur au survol */
}

/* Style pour le titre de la page de contact */
.contact-title {
    text-align: center;
    font-weight: bold;
    color: #e63946; /* Couleur cohérente avec le thème */
    font-size: 36px;
    margin-bottom: 20px; /* Espace en bas du titre */
}

/* Style pour les informations de contact */
.contact-info {
    text-align: center;
    margin-top: 50px;
    font-size: 18px; /* Taille de police confortable */
    color: #333; /* Couleur du texte */
}
